<h1 class="text-center">Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
    <p><%= cocktail.name %></p>
  <% end %>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
